.postWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
}

.createPostWrapper {
    width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--s-background);
    border-radius: 0.75rem;
    border: 0.11rem solid var(--secondary);
    padding: 1rem 1rem 0 1rem;
}

.bottomWrapper {
    position: relative;
    display: flex;
    height: 54px;
    margin-bottom: 0.3rem;
}

.textarea {
    width: 100%;
    resize: none;
    background-color: var(--s-background);
    color: var(--text);
    border: none;
    border-radius: 0.75rem;
}

.textarea::placeholder {
    color: var(--text2);
}

.textarea:focus-visible {
    outline: none;
}

.postBtn {
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text);
    border: none;
    border-radius: 0.45rem;
    padding: 0.1rem 1.2rem;
}

.postBtn:hover {
    background-color: var(--secondary);
}

.fileUpload {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.customFileUpload {
    position: absolute;
    bottom: 0.7rem;
    left: 0.9rem;
    cursor: pointer;
}

.imgPrev {
    position: absolute;
    width: 60px;
    height: 50px;
    left: 3.5rem;
    bottom: 0.2rem;
    object-fit: cover;
    border-radius: 0.34rem;
}

.postList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.9rem;
    gap: 1rem;
    width: 100%;
}

.postItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    border-radius: 0.4rem;
    width: 550px;
    position: relative;
    background-color: var(--s-background);
}

.post {
    display: flex;
    gap: 0.95rem;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.user {
    display: flex;
    gap: 0.95rem;
    justify-content: start;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.user:hover {
    background-color: var(--hover-bg);
}

.postDate {
    color: var(--text2);
    font-size: 0.85rem;
}

img.pfp {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

img.postImg {
    border-radius: 1%;
    object-fit: cover;
    min-width: 20rem;
    min-height: 25rem;
}

.heart {
    margin-left: 0.45rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
    gap: 1.2rem;
}

.heartInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.36rem;
    cursor: pointer;
}

.heartIcon:hover {
    fill: #f74444;
}

.heartIcon.active {
    fill: #f74444;
}

.commentBtnWrapper {
    display: flex;
    gap: 0.45rem;
    cursor: pointer;
}

.commentsIcon {
    fill: #302e32;
}
@media (max-width: 580px) {
    .postItem {
        width: 100%;
    }
}
