.userInfoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.userInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 475px;
    border-radius: 0.6rem;
    min-height:  350px;
    background: #1e212b;
    gap: 1rem;
}

.top {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.bottom {
    width: 100%;
    padding: 1rem;
}

img.pfp {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.name {
    font-size: 1.4rem;
}

.followInfoBtnWrapper {
    display: flex;
    gap: 0.85rem;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 0.75rem;
}

.bio {
    font-size: 0.95rem;
    color: var(--text2);
    text-align: start;
}

.followBtnWrapper {
    display: flex;
    gap: 0.35rem;
    cursor: pointer;
}

.count {
    color: var(--primary);
    font-weight: bold;
}

.followInfoBtn {
    background: none;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 460px) {
    .userInfo {
        width: 100%;
    }

    .userInfoWrapper {
        padding: 1.5rem;
    }
}
