.userInfoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.userInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 475px;
    border-radius: 0.6rem;
    min-height: 350px;
    background: #1b1c21;
    gap: 1rem;
}

.top {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.bottom {
    padding: 1rem;
    display: flex;
    width: 100%;
}

img.pfp {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.name {
    font-size: 1.4rem;
}

.followInfoBtnWrapper {
    display: flex;
    gap: 0.85rem;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    margin: 0.75rem;
}

.bio {
    font-size: 0.95rem;
    color: var(--text2);
    text-align: start;
}

.followBtnWrapper {
    display: flex;
    gap: 0.35rem;
    cursor: pointer;
}

.count {
    color: var(--primary);
    font-weight: bold;
}

.followInfoBtn {
    background: none;
    color: var(--text);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.followBtn,
.followingBtn {
    border: none;
    cursor: pointer;
    border-radius: 0.45rem;
    padding: 0.45rem;
    color: var(--text);
    width: 84px;
    height: 38px;
}

.followBtn {
    padding: 0.1rem 0.55rem;
    background: var(--secondary);
    color: var(--text);
    transition: all 0.3s ease;
}

.followBtn:hover {
    background: #2c2e3a;
}

.followingBtn {
    background: #2c2e3a;
}

.followingBtn:hover {
    background: var(--secondary);
}

@media (max-width: 460px) {
    .userInfo {
        width: 100%;
    }

    .userInfoWrapper {
        padding: 1.5rem;
    }
}
