.postWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
}

.postItem {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    border-radius: 0.4rem;
    width: 550px;
    position: relative;
    background-color: var(--s-background);
    flex: 1;
    gap: 0.95rem;
}

.user {
    display: flex;
    gap: 0.95rem;
    justify-content: start;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.2rem;
    width: 100%;
}

.user:hover {
    background-color: var(--hover-bg);
}

img.pfp {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

img.postImg {
    border-radius: 1%;
    object-fit: cover;
    min-width: 20rem;
    min-height: 25rem;
}

.heart {
    margin-left: 0.45rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.3rem;
    border-radius: 50%;
    gap: 1.2rem;
}

.heartInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.36rem;
    cursor: pointer;
}

.heartIcon:hover {
    fill: #f74444;
}

.heartIcon.active {
    fill: #f74444;
}

.dateWrapper {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.date {
    font-size: 0.8rem;
}

.commentBtnWrapper {
    display: flex;
    gap: 0.45rem;
    cursor: pointer;
}

.top {
    width: 100%;
}

.backBtn {
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 580px) {
    .postItem {
        width: 100%;
    }
}
