.registerContainer,
form.registerForm,
a.btn,
.oauthLogin {
    display: flex;
}

.registerContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.registerFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1b1a26;
    border-radius: 1rem;
    padding: 1rem;
    width: 700px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
    border-radius: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.oauthLogin {
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}

.registerContainer {
    align-items: center;
    height: 100vh;
}

.registerHeader {
    font-size: 1.4rem;
}

.oauthLogin {
    gap: 1rem;
}

form.registerForm {
    text-align: center;
    padding: 1rem;
    flex: 1;
    width: 100%;
}

.registerInput {
    padding: 0.4rem 0.8rem;
    background: #484854;
    color: var(--text);
    outline: none;
    border: 1px solid #8c8c9b;
    border-radius: 0.5rem;
    width: 100%;
    height: 38.45px;
}

.registerInput::placeholder {
    color: var(--text);
}

.registerInput:focus {
    border: 2px solid var(--accent);
}

a.btn {
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border: 0.5px solid #242425;
    border-radius: 0.5rem;
    width: 100%;
}

a.btn:hover {
    text-decoration: underline;
}

.error {
    color: #ff5959;
}

.line {
    border: 1px solid white;
    width: 100%;
}

.btnOAuth {
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.45rem;
    width: 100%;
    background: #484854;
    color: var(--text);
    transition: all 0.3s ease;
}

.btnOAuth:hover {
    background: #252628;
}

.dividerWrapper {
    position: relative;
    margin-bottom: 1.2rem;
}

hr.line {
    position: absolute;
    width: 100%;
    border: 1px solid #6a6681;
    z-index: 950;
    top: 0.75rem;
}

.dividerTxt {
    z-index: 1000;
    position: absolute;
    background: #1b1a26;
    padding: 0 1rem;
    left: 7.3rem;
}

.pfpWrapper {
    position: relative;
}

.fileUpload {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.customFileUpload {
    position: absolute;
    bottom: 0.7rem;
    left: 0.9rem;
    cursor: pointer;
}

.pfpSvg {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.closeBtn {
    position: absolute;
    left: 5.7rem;
    background: #acafc1;
    color: #0f0e0f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
    width: 24px;
    text-align: center;
}

.imgPrev {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 0.2rem;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 720px) {
    .registerContainer {
        padding: 0 1.3rem;
    }
    .registerFormContainer {
        width: 100%;
        margin: 0 1rem;
    }

    .registerHeader {
        font-size: 1.2rem;
    }
}

@media (max-width: 560px) {
    .registerContainer {
        padding: 0.5rem 2rem;
    }

    .registerFormContainer {
        font-size: 0.87rem;
    }

    form.registerForm {
        display: block;
    }

    .left {
        padding: 0;
    }

    .right {
        padding: 0;
    }

    .registerInput {
        height: 30px;
    }

    .pfpSvg {
        width: 90px;
        height: 90px;
    }

    .pfpWrapper {
        margin-top: 1rem;
    }

    .dividerTxt {
        left:6.5rem;
    }

    .imgPrev {
        width: 90px;
        height: 90px;
    }

}
