.followersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
}

.userList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.9rem;
    gap: 1.4rem;
}

.userItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    width: 525px;
    position: relative;
}

.userItem:hover {
    cursor: pointer;
    background-color: var(--s-background);
}

.user {
    display: flex;
    gap: 0.95rem;
    justify-content: start;
    align-items: center;
    flex: 1;
}

img.pfp {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.actionBtnsWrapper {
    display: flex;
    gap: 0.8rem;
}

.actionBtn {
    padding: 0.1rem 1rem;
}

.actionBtnIcon {
    background: var(--secondary);
    border-radius: 0.45rem;
    display: flex;
    align-items: center;
}

.tooltip {
    display: none;
}

.actionBtnIcon:hover {
    background-color: #7848e8;
}

.actionBtn:hover .tooltip {
    position: absolute;
    display: block;
    top: 2.7rem;
    right: 0rem;
    font-size: 0.85rem;
    background: #2c2d38;
    padding: 0.35rem;
    border-radius: 0.4rem;
}

.actionBtn:hover .msgTooltip {
    right: -0.2rem;
}

.top {
    width: 100%;
}

.backBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 0.85rem;
    color: var(--primary);
}
