.followingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
}

.usersList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.9rem;
    gap: 1rem;
    width: 100%;
}

.userItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    width: 525px;
    position: relative;
}

.userItem:hover {
    cursor: pointer;
    background-color: var(--s-background);
}

.user {
    display: flex;
    gap: 0.95rem;
    justify-content: start;
    align-items: center;
    flex: 1;
}

img.pfp {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
